---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Senior Software Engineer with 10+ years experience in backend and cross-platform development."
	pubDate={new Date('May 15 2026')}
>
	<p>
		Senior Software Engineer with 10+ years experience in backend and cross-platform development.
		Teaching English and developing a myriad of apps.
	</p>
</Layout>
